<!DOCTYPE html>
<html lang=“ja”>
 <head>
  <meta http-equiv="content-language" content="ja">
  <meta name="robots" content="noindex,nofollow">
  <meta charset="UTF-8">
  <title>拡大画像</title>
  <img src="mosaic_img/resize.png" alt="mosaic art" title="mosaic art">
  <form action="/return" method="post" name="return" class="form-inline">
    <button type="submit" name="return" class="btn btn-default">return</button>
  </form>
  <style type="text/css">
   font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, sans-serif;
  </style>
 </head>
 <body>
 </body>
</html>